@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #e2eaf5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 31px;
}

input {
  border: none;
  background-color: transparent;
}

.main-container {
  display: flex;
  min-width: 50%;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.logo img {
  width: 209px;
  height: 100%;
}

.search-container {
  height: 42px;
  display: flex;
  position: relative;
  align-items: center;
  gap: 11px;
  border-radius: 15.58px;
  background-color: #fdfffe;
}

.search-icon {
  width: 24px;
  height: 24px;
  margin-left: 13px;
}

.search-input {
  width: 32rem;
  height: 100%;
  color: black;
}

#section-top {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temperature {
  font-size: 85px;
}

.city {
  font-size: 50px;
}

.chance-of-rain {
  font-size: 20px;
  color: #9aa0a8;
}

#section-mid {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #007dfe 0%, #3aa2ff 100%);
  padding: 4vw;
  border-radius: 40px;
  box-shadow: 0px 15px 50px 0px #017efe80;
}

.mid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  gap: 10px;
}

.weather-icon {
  max-width: 50%;
}

.mid-hours-text {
  font-size: 18px;
  color: #ffffff;
}

.mid-item img,
.sun-cloud img,
.sun-clouds-icon img,
.clouds img {
  height: 3rem;
}

.section-buttom {
  display: flex;
  width: auto;
  gap: 11px;
}

.buttom-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 20px 39px 39px 20px;
  background-color: #ffffff;
  border-radius: 40px;
}

.temperature-bottom {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttom-item-condicion {
  font-size: 43px;
}

.buttom-item-span {
  font-size: 12.62px;
}

#left-content {
  display: flex;
  flex-direction: column;
  width: auto;
  /* height: ; */
  background-color: #ffffff;
  padding: 40px;
  margin-left: 250px;
  border-radius: 40px;
}

.left-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.left-item-graus {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.left-item-text,
.left-item-texts,
.left-items {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #8f8f8f;
}

@media (max-width: 344px) {
  .main-div-container {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .main-div-container {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }

  header {
    width: auto;
    flex-direction: column;
    gap: 10px;
  }

  .search-input {
    width: 17rem;
  }

  .city {
    font-size: 25px;
  }

  .temperature {
    font-size: 30px;
  }

  .chance-of-rain {
    font-size: 15px;
  }

  .mid-hours-text {
    font-size: 0.6rem;
  }

  .section-buttom {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: 160px 160px;
    grid-template-rows: 160px 160px;
  }

  #left-content {
    width: auto;
    justify-content: center;
    margin-left: 0px;
    margin-bottom: 1rem;
  }

  .buttom-item {
    text-align: center;
    padding: 10px 20px 20px 10px;
  }

  .buttom-item-condicion {
    font-size: 33px;
  }

  .buttom-item-span {
    font-size: 10px;
  }
}

@media (max-width: 1280px) {
  #left-content {
    margin-left: 40px;
  }
}
