@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #e2eaf5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-div-container {
  display: flex;
  flex-direction: column;
  width: 47%;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  margin-top: 20px;
  gap: 31px;
}

input {
  border: none;
  background-color: transparent;
}

.main-container {
  display: flex;
  min-width: 50%;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  gap: 50px;
}

.logo img {
  width: 209px;
  height: 100%;
}

.search-container {
  height: 42px;
  display: flex;
  position: relative;
  align-items: center;
  gap: 11px;
  border-radius: 15.58px;
  background-color: #fdfffe;
}

.search-icon {
  width: 24px;
  height: 24px;
  margin-left: 13px;
}

.search-input {
  width: 670px;
  height: 100%;
  color: black;
}

#section-top {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temperature {
  font-size: 85px;
}

.city {
  font-size: 50px;
}

.chance-of-rain {
  font-size: 20px;
  color: #9aa0a8;
}

#section-mid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(90deg, #007dfe 0%, #3aa2ff 100%);
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0px 15px 50px 0px #017efe80;
}

.mid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  gap: 10px;
}

.mid-hours-text {
  font-size: 18px;
  color: #ffffff;
}

.mid-item img {
  width: 64px;
  height: 48px;
}

.sun-cloud img {
  width: 69px;
  height: 59px;
}

.sun-clouds-icon img {
  width: 66px;
  height: 52px;
}

.sun img {
  width: 53px;
  height: 50px;
}

.clouds img {
  width: 64px;
  height: 48px;
}

.moon-clouds img {
  width: 59px;
  height: 65px;
}

.section-buttom {
  display: flex;
  width: 100%;
  gap: 11px;
}

.buttom-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 20px 39px 39px 20px;
  background-color: #ffffff;
  border-radius: 40px;
}

.temperature-bottom {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttom-item-condicion {
  font-size: 43px;
}

.buttom-item-span {
  font-size: 12.62px;
}

#left-content {
  display: flex;
  flex-direction: column;
  width: 347px;
  /* height: ; */
  background-color: #ffffff;
  padding: 40px;
  margin-left: 250px;
  border-radius: 40px;
}

.left-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.left-item-graus {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.left-item-text,
.left-item-texts,
.left-items {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #8f8f8f;
}
